<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidzonghe1">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />    <!-- 这个权限用于访问GPS定位 -->
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入对象存储BOS数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 用于加快GPS首次定位-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!-- 用于Android M及以上系统，申请加入忽略电池优化白名单-->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"></uses-permission>

    <application
        android:name=".activity.Track.TrackApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity android:name=".activity.lpyWork.MyTheActivity" />
        <activity android:name=".activity.lpyWork.ActivityMyMessage" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="iAngGeHOk7mYUBU0nGIpTfhwZ5le7Wqj" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.lpyWork.RoutePlanDemo">

        </activity>
        <activity android:name=".activity.lpyWork.TrackShowDemo">

        </activity>
        <activity android:name=".activity.lpyWork.TracingActivity">

        </activity>
        <activity android:name=".activity.lpyWork.BaseActivity"/>
        <activity android:name=".activity.Track.TracingOptionsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.Track.TrackQueryActivity">

        </activity>
        <activity android:name=".activity.Track.TrackQueryOptionsActivity"/>
        <activity android:name=".others.lsbWork.MyAppIntro2" />
        <activity android:name=".activity.lsbWork.KidsActivity" />
        <activity android:name=".activity.lsbWork.WalletActivity" />
        <activity android:name=".activity.lsbWork.ContactorActivity"/>
        <activity android:name=".activity.lsbWork.SearchActivity" />
        <activity android:name=".activity.yjWork.ActivityLoginPage">

        </activity>
        <activity android:name=".activity.xtWork.AcitivySetting"/>
        <activity android:name=".activity.yjWork.LoginActivity"></activity>
        <activity android:name=".activity.yjWork.PolicyActivity" />
        <activity android:name=".activity.yjWork.RegisterActivity" />
        <activity android:name=".activity.yjWork.ServiceAgreementActivity" />
        <activity android:name=".activity.yjWork.UserAgreementActivity" />
        <activity android:name=".activity.yjWork.MyOrderActivity"/>
        <activity android:name=".activity.yjWork.MyTripActivity"/>
        <activity android:name=".activity.yjWork.CalendarActivity"/>

        <activity android:name=".activity.yyWork.CarPoolActivity" />
        <activity android:name=".activity.yyWork.DisActivity" />
        <activity android:name=".activity.yyWork.DisinfectActivity" />
        <activity android:name=".activity.yyWork.OrderDetailsActivity">
        </activity>
        <activity android:name=".activity.xtWork.ActivityChangeName"/>
        <activity android:name=".activity.yyWork.FuncActivity" />
        <activity android:name=".activity.yyWork.PreventActivity" />
        <activity android:name=".activity.yyWork.SendActivity" />
        <activity android:name=".activity.yyWork.ActivityNewRead"/>
        <activity android:name=".activity.rjxWork.CommandActivity"/>
        <activity android:name=".activity.rjxWork.ServiceActivity">

        </activity>
        <activity android:name=".activity.yyWork.UsageRulesActivity"/>
        <activity android:name=".activity.yyWork.WalletActivity"/>
        <activity android:name=".activity.yyWork.WalletDetailsActivity"/>
        <activity android:name=".activity.rjxWork.TicketActivity"/>
        <activity android:name=".activity.rjxWork.YiqingActivity"/>
        <activity android:name=".activity.xtWork.ActivityAboutDingDong"/>
        <activity android:name=".activity.xtWork.ActivityPensonInfoProtect"/>
        <activity android:name=".activity.xtWork.ActivityPersonInfo"/>
        <activity android:name=".activity.xtWork.ActivityQuestion"/>
        <activity android:name=".activity.xtWork.ActivityServiceAgreement"/>
        <activity android:name=".activity.xtWork.ActivityUserAgrement"/>
        <service
            android:name="com.baidu.trace.LBSTraceService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
    </application>

</manifest>